<div
  class="footer-component-container"
  [ngClass]="footerContainerTheme()"
>
  <div class="footer-component-name-socials">
    <div class="footer-component-name-container">
      <div class="footer-component-name">
        Mouhamad Alhabash
      </div>
      <div class="footer-component-name-text">
        A Frontend developer, working for Dedalus HealthCare GmbH.
      </div>
    </div>
    <div class="footer-component-socials">
      <div class="footer-component-socials-title">Socials</div>
      <div class="footer-component-socials-items">
        <a class="footer-component-socials-item" href="https://www.linkedin.com/in/mohammad-alhabash-76251223a/">
          <img [ngSrc]="'assets/linkedin.svg'" width="25" height="25" alt="Linked In"/>
        </a>
        <a class="footer-component-socials-item" href="https://gitlab.com/MoAlhabash">
          <img [ngSrc]="'assets/gitlab.svg'" width="25" height="25" alt="GitLab"/>
        </a>
        <a class="footer-component-socials-item" href="https://github.com/MoAlhabash">
          <img [ngSrc]="'assets/github.svg'" width="25" height="25" alt="GitHub"/>
        </a>
        <a class="footer-component-socials-item" href="mailto:mouhamad.alhabash@gmail.com">
          <img [ngSrc]="'assets/email.svg'" width="25" height="25" alt="Email"/>
        </a>
      </div>
    </div>
  </div>
</div>
