$color_yellow: #facf0f;
$color_gray: rgb(72, 67, 67);
$color_white: #FFFFFF;
$color_black: #000000;
$color-text-gray: #555;
$color-form-bg: #3d3c3c;

$color_dark: #313030;
$color_dark_triangle: rgba(253, 252, 252, 0.03);
$color_green_gray_header: #707770;
$color_green_gray: rgb(112, 119, 112, 0.7);

$bg-color: hsl(256,33,99);
$bg-skill-color: rgba(153,153,153,.2);
$bg-text-input: #f0f0f0;
$triangle-color: hsl(256,33,98);

$triangle-size: 50px;
